.testDiv {
    border: 1px solid red;
    margin: 10px;
}
.testDiv {
    border: 1px solid red;
    margin: 10px;
}
div {
    background-color: gray;
}
.testDiv {
    background-color: orange;
}
#div2 {
    background-color: green;
}